{block content}
<div class="x-front-img-header">
  &nbsp;
</div>

<div class="row">
  <div class="small-12 columns x-page-header">
    <h2>Stránka nenalezena - 404</h2><hr>
  </div>
</div>

<div class="x-page-content">
  <div class="row">

    <div class="small-12 columns">
      Je nám líto, Vámi požadovaná stránka nebyla nalezena. Na domovskou stránku se dostanete kliknutím
      <a n:href="Page:default">zde</a>.
    </div>

  </div>
</div>
{/block}