<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ProfiSpol s.r.o. - administrace</title>
    <link rel="stylesheet" href="{$baseUrl}/css/admin/style.css">
    <script type="text/javascript" src="{$baseUrl}/js/admin/ext.js"></script>
    <script type="text/javascript" src="{$baseUrl}/js/admin/config.js"></script>
    <script type="text/javascript" src="{$baseUrl}/js/admin/locale_cs.js"></script>
    <script type="text/javascript" src="{$baseUrl}/js/admin/application.js"></script>
  </head>
  <body>
    {include content}
  </body>
</html>