<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="cs" > <![endif]-->
<html class="no-js" lang="cs" >

<head>
    <meta charset="utf-8">
    <meta name="description" content="{$metaDescription}">
    <meta name="keywords" content="{$metaKeywords}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$pageTitle} | ProfiSpol s.r.o</title>
    <link rel="stylesheet" href="{$basePath}/css/normalize.css">
    <link rel="stylesheet" href="{$basePath}/css/foundation.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Slabo+27px&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/vendor/modernizr.js"></script>
</head>
<body>
    <!-- Logo + text -->
    <div class="row">
      <div class="small-4 columns x-front-header-wrapper">
        <a href="{link Page:default page => o-nas}">
          <img src="http://www.cleanfreaksbloomington.com/images/logo.png" class="logo-img">
          <h1>ProfiSpol s.r.o.</h1>
        </a>
      </div>
      <div class="small-8 columns x-search-bar">
        <div class="x-search">
          <table class="x-table-no-style">
            <tr>
              <td>E-mail:</td>
              <td>info@profispol.cz</td>
            </tr>
            <tr>
              <td>Telefon:</td>
              <td>+420 123 456 789</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <!-- Navigace -->
    <div class="row">
      <div class="small-12 columns x-front-nav-wrapper">
        {control navigation}
      </div>
    </div>

    {include content}

    <div class="x-footer">
      <div class="row">
        <div class="small-3 columns">
          <div class="x-footer-header">Odkazy</div><hr>

          <ul>
            <li><a href="#">O nás</a></li>
            <li><a href="#">Nabízené služby</a></li>
            <li><a href="#">Záruka spokojenosti</a></li>
            <li><a href="#">Ceník</a></li>
            <li><a href="#">Volná místa</a></li>
            <li><a href="#">Kontakt</a></li>
          </ul>

          <hr>
          <ul>
            <li><a href="#">Mapa stránek</a></li>
            <li><a href="#">RSS feed</a></li>
          </ul>
        </div>

        <div class="small-3 columns">footer</div>
        <div class="small-3 columns">footer</div>
        <div class="small-3 columns">
          <div class="x-footer-header">Kontakt</div><hr>
          <address>
            <b>ProfiSpol, s.r.o.</b><br>
            Masarykova 123<br>
            Hluboká nad Vltavou &nbsp; 37341<br>
            Česká Republika<br>
            IČ: 12345678<br>
            DIČ: CZ123456789<hr>
            Tel. č.: +420 123 456 789<br>
            Fax: 1234567987

          </address>
        </div>
      </div>
      <div class="row x-footer-copyright-wrapper">
        <div class="small-12 column x-footer-copyright">
          &copy;{date('Y')} ProfiSpol, s.r.o. &nbsp; | &nbsp; <a href="#">Licence</a>
        </div>
      </div>
    </div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>$(document).foundation();</script>
</body>
</html>