{block content}
<table width="100%" class="x-list">
  <thead>
    <tr>
      <th>Popis místa</th>
      <th>Místo výkonu práce</th>
      <th>Odměna</th>
      <th>Termín</th>
      <th>Informace</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {if count($jobs)}
      {foreach $jobs as $job}
      <tr>
        <td>{$job->title}</td>
        <td>{$job->place_city}</td>
        <td>{$job->reward}</td>
        <td>{$job->date_from|date:'d.m.Y'}</td>
        <td>
          <a class="modal-ctrl" href="{link FindJob $job->id}" data-reveal-id="modal-{$job->id}" data-reveal-ajax="true"><img src="/icons/information.png"></a>
          <div id="modal-{$job->id}" class="reveal-modal x-modal" data-reveal aria-labelledby="modal-title-{$job->id}" aria-hidden="true" role="dialog"></div>
        </td>
        <td>
          <a href="#" class="">Mám zájem</a>
        </td>
      </tr>
      {/foreach}
    {else}
    <tr>
      <td colspan="6" style="text-align: center; padding: 20px;">Žádné pracovní nabídky nebyly nalezeny ...</td>
    </tr>
    {/if}
  </tbody>
</table>

<script type="text/javascript">
  function revealModal(ctrl, id)
  {
    var mod = $('#modal-'+id);
    console.log(ctrl.href);
    mod.foundation('reveal', 'open', ctrl.href);
    return false;
  }
</script>
{/block}

<!--
{*
<div id="modal-{$job->id}" class="reveal-modal x-modal" data-reveal aria-labelledby="modal-title-{$job->id}" aria-hidden="true" role="dialog">

          </div>
*}
-->