{block content}
<h2 id="modal-title-{$job->id}" class="x-modal-title">{$job->title}</h2>

<div class="x-modal-content">
  <div class="row">
    <div class="small-8 columns" style="padding: 0;">
      <table class="x-list" width="600">
        <tbody>
        <tr>
          <td class="x-list-left-header" width="150">Popis práce:</td>
          <td>{$job->title}</td>
        </tr>
        <tr>
          <td class="x-list-left-header">Místo práce:</td>
          <td>{$job->place_address}, {$job->place_city} {$job->place_zip_code}</td>
        </tr>
        <tr>
          <td class="x-list-left-header">Datum a čas:</td>
          <td>{$job->date_from->format('d.m.Y')}</td>
        </tr>
        <tr>
          <td class="x-list-left-header">Odměna:</td>
          <td>{$job->reward}</td>
        </tr>
        <tr>
          <td class="x-list-left-header">Informace:</td>
          <td>{$job->info}</td>
        </tr>
        </tbody>
      </table>
      <br>

      <a href="#" class="button small" style="width: 150px; margin-right: 10px;">Mám zájem</a>
      <a href="#" class="button small secondary" style="width: 150px;">Poslat dotaz</a>
    </div>

    <div class="small-4 columns" style="padding: 0;">
      <iframe style="border: 0;" width="100%" height="300" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAR64snfRS0bTPoybdaHx907sHUamglbFY&q={urlencode($googleMapsAddress)}">
        nomap
      </iframe>
    </div>
  </div>



  <div class="x-job-map">

  </div>
</div>
{/block}