{block content}
<ul>
  {foreach $nodes as $node}
  <li {ifCurrent Page:default page => $node['url']}class="link-active"{/ifCurrent}>
    <a href="{plink Page:default page => $node['url']}">{$node['title']}</a>
    {if $node['children']}
    <ul>
      {foreach $node['children'] as $child}
      <li><a href="{plink Page:default page => $child['url']}">{$child['title']}</a></li>
      {/foreach}
    </ul>
    {/if}
  </li>
  {/foreach}
</ul>
{/block}