/*noinspection CssUnknownTarget*/
body {
  background-color: white;
}

a, h1, h2, h3, h4, h5, span, button, label, ul li {
}

.row {

}

a[href^="#error:"] {
	background: red;
	color: white;
}

.x-front-header-wrapper {
  padding: 20px 0px 15px 0px;
}

.logo-img {
  float: left;
  width: 60px;
  margin-right: 10px;
}

.x-front-header-wrapper h1 {
  font-size: 40px;
  color: #4582AD;
  font-family: 'Slabo 27px', sans-serif;
}

.x-search-bar {
  padding-top: 35px !important;
  padding-right: 0;
}

.x-search {
  float: right;
  color: lightgrey;
  font-size: 14px;
}

.x-front-nav-wrapper {
  padding: 0;
}

/* ------------ */
.x-front-nav-wrapper ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
}

.x-front-nav-wrapper ul li {
  display: inline-block;
  margin-right: -4px;
  position: relative;
  cursor: pointer;
  margin-right: 1px;
}

.x-front-nav-wrapper ul li a {
  color: #7a7a7a;
  font-size: 17px;
  font-family: 'Archivo Narrow', serif;
  padding: 15px 30px;
  display: inline-block;
  border-top: 2px solid transparent;
}


.x-front-nav-wrapper a:hover {
  color: #333;
}

.x-front-nav-wrapper ul li.link-active > a {
  color: #666;
  font-weight: bold;
  border-top: 2px solid #76afca;
}

.x-front-nav-wrapper ul li:hover, .x-front-nav-wrapper ul li.link-active {
  color: #333;
  background: #F2F2F2;
}

.x-front-nav-wrapper > ul > li:hover > a {
  border-top: 2px solid #76afca;
}

.x-front-nav-wrapper ul li ul {
  padding: 0;
  position: absolute;
  top: 59px;
  left: 0;
  width: 200px;
  z-index: 1001;
  white-space: nowrap;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
  display: none;
  opacity: 0;
  visibility: hidden;
}

.x-front-nav-wrapper ul li ul li {
  background: #F2F2F2;
  display: block;
  color: #fff;
}

.x-front-nav-wrapper ul li ul li a {
  padding: 8px 30px;
}

.x-front-nav-wrapper ul li ul li:hover {

}

.x-front-nav-wrapper ul li ul li:hover a {
  color: #222;
}

.x-front-nav-wrapper ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}


/* ------------ */












.x-intro-buttons {
  margin-top: 30px;
}

.x-button {
  font-family: 'Archivo Narrow', serif;
  font-size: 18px;
}

.x-front-img-slider {
  background-image: url(/images/header5.jpg);
  background-size: 100%;
  margin: 0 auto;
  padding: 10px;
  height: 300px;
  color: grey;
  margin-bottom: 30px;
  box-shadow: inset 0px 10px 20px rgba(0, 0, 0, 0.4);
  background-position-y: 75%;
  background-position: 0 67%;
}

.x-front-img-header {
  background-image: url(/images/header5.jpg);

  margin: 0 auto;
  padding: 10px;
  height: 130px;
  color: grey;
  margin-bottom: 30px;
  box-shadow: inset 0px 10px 20px rgba(0, 0, 0, 0.4);
  background-position: 0 50%;
  background-size: 100%;
}

.x-company-intro {
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.x-company-intro h1 {
  font-size: 25px;
  font-family: 'Roboto', serif;
}

.x-page-header h2 {
  color: #4582AD;
  margin-bottom: -15px;
  font-size: 28px;
  font-family: 'Slabo 27px';
}

.x-page-content {
  color: #555;
  font-size: 15px;
}

.x-page-content .row {
  padding: 18px 0px;
}


.x-front-img-header .x-company-intro {
  margin: 5px;
  box-shadow: none;
  padding: 10px;
  text-align: left;
}

.x-front-img-header .x-company-intro h1 {
  margin-left: 15px;
}

.x-front-product-bars {
  text-align: center !important;
}

.x-front-product-bar {
  margin: 0 auto;
  background: rgb(235,241,244); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(235,241,244,1) 0%, rgba(255,255,255,1) 76%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,241,244,1)), color-stop(76%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(235,241,244,1) 0%,rgba(255,255,255,1) 76%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(235,241,244,1) 0%,rgba(255,255,255,1) 76%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(235,241,244,1) 0%,rgba(255,255,255,1) 76%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(235,241,244,1) 0%,rgba(255,255,255,1) 76%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f4', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.x-front-product-bar h4 {
  background: rgb(0,140,186); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(0,140,186,1) 0%, rgba(0,109,160,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,140,186,1)), color-stop(100%,rgba(0,109,160,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,140,186,1) 0%,rgba(0,109,160,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,140,186,1) 0%,rgba(0,109,160,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,140,186,1) 0%,rgba(0,109,160,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,140,186,1) 0%,rgba(0,109,160,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008cba', endColorstr='#006da0',GradientType=0 ); /* IE6-9 */

  padding: 5px 10px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: white;
  text-align: center;
  font-family: 'Archivo Narrow', serif;
  text-shadow: 0px 1px 1px #434343;
}

.x-front-product-bar-info {
  padding: 20px;
  color: #666;
  font-size: 15px;
}

.x-footer {
  background: #E9E9E9;
  width: 100%;
  padding: 20px;
  margin-top: 50px;
  color: #555;
  font-size: 14px !important;
  font-family: sans-serif;
  box-shadow: inset 0px 1px 20px rgba(0, 0, 0, 0.1);
}

.x-footer ul li, .x-footer address {
  font-size: 13px !important;
  font-style: normal;
}

.x-footer ul li a {
  color: #578cc0;
}

.x-footer-header {
  padding: 3px 0px;
  margin-bottom: -15px;
  font-weight: bold;
  font-family: 'Archivo Narrow';
  font-size: 16px;
  color: #555;
}

.x-footer-copyright-wrapper {
  border-top: 1px dotted lightgrey;
  padding-top: 20px;
}

.x-footer-copyright {
  font-size: 12px;
  color: #878787;
  text-align: center;
}

.x-list tr th {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.x-list thead {
}

.x-list tr td {
  font-size: 12px;
  font-family: Roboto;
}

.x-table-no-style {
  border: 0;
}

.x-table-no-style tr {
  background: none !important;

}

.x-table-no-style tr td {
  font-size: 12px;
  color: lightgray;
  padding: 2px 5px !important;
}

.x-modal {
  border-radius: 0;
  padding: 0;
  outline: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.x-modal-title {
  font-size: 18px;
  background: rgb(0,140,186); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(0,140,186,1) 0%, rgba(0,109,160,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,140,186,1)), color-stop(100%,rgba(0,109,160,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,140,186,1) 0%,rgba(0,109,160,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,140,186,1) 0%,rgba(0,109,160,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,140,186,1) 0%,rgba(0,109,160,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,140,186,1) 0%,rgba(0,109,160,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008cba', endColorstr='#006da0',GradientType=0 ); /* IE6-9 */
  color: white;
  padding: 8px 20px;
  font-weight: bold;
}

.x-modal-content {
  padding: 10px 20px;
}

.x-modal-content .x-list tr td {
  background: white;
}

.x-list-left-header {
  font-weight: bold;
  background: #FAFAFA !important;
  font-size: 13px !important;
  vertical-align: top;
}

.button {
}

